.article-hero_area {
    background-color: #2C3E50;
    padding-top: 70px;
    padding-bottom: 70px;

}

.article-hero a {
    font-weight: 600;
    font-size: 12px;
    line-height: 19px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: #2C3E50;
    background-color: #fff;
    padding: 2px 2px;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
}

.article-hero h2 {
    font-weight: 700;
    font-size: 65px;
    line-height: 75px;
    color: #FFFFFF;
}

.article_author_info p {
    font-weight: 400;
    font-size: 18px;
    line-height: 0px;
    margin-top: 30px;
    color: #fff;
    margin-bottom: 30px;
}

.article_author_info span {
    font-style: italic;
}

.article_author_info a {
    color: #3498DB;
    text-decoration: none;
    font-style: normal;
}

.article_author_info a:hover {
    color: #fff;
}

.article_doi_area_link span {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF;
    display: inline-block;
    background-color: #3498DB;
    text-decoration: none;
    padding: 3px 6px 3px 3px;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    margin-right: 5px;
}

.article_doi_area_link a {
    text-decoration: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #fff;
    transition: .5s all ease;
    -webkit-transition: .5s all ease;
    -moz-transition: .5s all ease;
    -ms-transition: .5s all ease;
    -o-transition: .5s all ease;
}

/* ==========================Article hero================== */
.ariticale_details {
    margin-top: 50px;
}

.publish_card-area {
    margin-top: 40px;
    margin-left: 20px;
}



/* ==================== */
.publish_text {
    margin-bottom: 32px;

}

.publish_card_read {
    background: #2C3E50;
    justify-content: space-around;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;

}

.pub_img_read img {
    width: 100%;
    height: 220px;
}

.publish_des_read {
    padding: 30px 30px 0px 30px;
}

.pub_aut_info_read a {
    color: #3281B8;
    text-decoration: none;
}

.pub_aut_info_read a:hover {
    color: #3498DB;
}

.publish_des_read small {
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    text-transform: uppercase;
    background-color: #FFFFFF;
    color: #2C3E50;
    padding: 3px 5px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}

.publish_des_read a {
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    color: #FFFFFF;
    text-decoration: none;
}

.publish_des_read p {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: justify;
    color: #ffffff;
}

.pub_aut_info_read {
    display: block;
    padding: 0px 32px 20px 32px;
}

.pub_aut_info_read p {
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #fff;
}

.pub_aut_info_read span {
    color: #3498DB;
}

/* ==================== */

.abostrac h2 {
    font-weight: 700;
    font-size: 30px;
    line-height: 46px;
    color: #2C3E50;
    margin-bottom: 10px;
}

.abostrac p {
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    text-align: justify;
    color: #2C3E50;
}

.read_more {
    display: flex;
    justify-content: center;
    margin-top: 25px;
}

.read_more a {
    background: #2C3E50;
    border-radius: 3px;
    color: #fff;
    text-decoration: none;
    padding: 10px 30px;

}

.doi-gap {
    margin-top: 40px;
}

.shareSocial button {
    outline: none;
    background-color: transparent;
    font-size: 25px;
    border: none;
}

#copy-message {
    margin: 0;
    margin-top: 5px;
    color: #218838;
    transition: .3s all ease;
}

/* ==============Article List====================== */